build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/hardiksakhuja/election-commission

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ec
deploy:
  type: text
  content: ""
test:
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
Last Updated By: Hardik Sakhuja
Last Updated On: 2022-07-14T14:09:50.789Z
